{% extends 'board/base.html' %}
{% load static %}

{% block title %} 
<link rel="stylesheet" href="{% static 'board/base.css' %}">
<title>Resultat Hinzufügen</title>
{% endblock title %}

{% block content %}
    <section class="section_1">
    <nav class="navbar">
        <a href="{% url 'board' slot %}">Zurück</a>
    </nav>
    <form action="{% url 'add' slot %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input class="button" type="submit" value="Speichern">
    </form>
    </section>
    <h2 class="message">Bitte auf Handy wechseln</h2>
{% endblock content %} 