{% extends 'board/base.html' %}
{% load static %}

{% block title %} 
<link rel="stylesheet" href="{% static 'board/base.css' %}">
<title>Resultate</title>
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <a href="{% url 'end' slot %}">Spiel Beenden</a>
        <a href="{% url 'add' slot %}">Resultat Hinzufügen</a>
    </nav>
    <table>
        <th class="white"></th>
        <th class="white">{{team1.team_name}}</th>
        <th class="white">{{team2.team_name}}</th>
        <th class="white">Total 1</th>
        <th class="white">Total 2</th>
        {% for row in data %}
            <tr>
            {% for i in row  %}
                <td class="white">{{ i|default_if_none:'&nbsp;' }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        <tr>
        <td class="white">Ges</td>
            <td class="white"></td>
            <td class="white"></td>
            <td class="white">{{ number1 }}</td>
            <td class="white">{{ number2 }}</td>
        </tr>
    </table>
    <h2 class="message">Bitte auf Handy wechseln</h2>
{% endblock content %} 

