{% extends 'board/base.html' %}
{% load static %}

{% block title %} 
<link rel="stylesheet" href="{% static 'board/bse.css' %}">
<title>Start</title>
{% endblock title %}

{% block content %}
    <nav class="navbar">
        <h1>Neues Spiel</h1>
    </nav>
    <form action="{% url 'start' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input class="button" type="submit" value="Starten">
    </form>
    <h2 class="message">Bitte auf Handy wechseln</h2>
{% endblock content %}