* {
    margin: 0;
    box-sizing: border-box;
    padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 20px 25px 50px;
    background-image: url(back.jpg);
    background-position: 53% 50%;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

text {
    display: flex;
    justify-content: stretch;
    align-items: center;
    color: #fff;
    font-weight: 700;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


a{
    background-color: rgb(71, 202, 115);
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    margin: 20px;
}
h1, label, a {
    color: #fff;
}

table{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid #fff;
    border-collapse: collapse;
}

td{
    padding: 0;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.div{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    text-align: center;
}

.button {
    margin-top: 10px;
    background-color: rgb(71, 202, 115);
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
    color: #fff;
    border: none;
}

.white {
    color: #fff;
}

.message{
    font-size: 50px;
    color: #fff;
    margin: auto;
    width: 50%;
    visibility: hidden;
}



@media screen and (min-width: 479px){
    *{background-image: none;}
    .button, form, nav, table, a {visibility: hidden;}
    .message{visibility: visible;}
}

.red{
    background-color:rgb(219, 96, 96);
}

.signal{
    text-align: center;
    height: 50px;
}

.section_2{
    display: flex;
    flex-direction: column;
    text-align: center;
}

p{
    color: white;
    padding: 10px;
}

h2{
    color: white;
}


input[type="checkbox"] {
    width: 20px;
    height: 20px
}